@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

:root {
  --white: #ffffff;
  --black: #2b2b2b;
}

/* Base CSS styles */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato";
  color: var(--black);
}

h1 {
  font-size: 25px;
  font-weight: 700;
}

h2 {
  font-size: 19px;
  font-weight: 700;
}

h3 {
  font-size: 17px;
  font-weight: 700;
}

p {
  font-size: 16px;
  line-height: 1.4;
}

ul {
  list-style-type: none;
}

a {
  color: var(--black);
  text-decoration: none;
}

img {
  width: 100%;
}

/* Utility classes */
.btn {
  background-color: var(--black);
  color: var(--white);
  font-size: 17px;
  font-weight: 700;
  padding: 13px 18px;
  border: none;
  transition: opacity 250ms ease;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.85;
}

.btn:hover i {
  transform: translateX(3px);
}

i.fa-chevron-right {
  margin-left: 1.5px;
  font-size: 15px;
  transition: transform 250ms ease;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 25px 30px;
}

/* Navbar */
.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 150px;
  margin-right: 50px;
}

.nav-items {
  flex: 1;
  display: flex;
  gap: 30px;
}

.nav-items li a {
  font-size: 16px;
  padding-bottom: 2px;
}

.nav-items li a:hover {
  border-bottom: 2px solid var(--black);
}

.navbar-icons i {
  cursor: pointer;
  margin-left: 20px;
  font-size: 18px;
}

.fa-bars {
  display: none;
}

/* Shop Now section */
.shop-now .container {
  padding-top: 0px;
  padding-bottom: 0px;
}

.shop-now .container div {
  height: 420px;
  background-image: url(../images/showcase.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 0px 20px 40px 20px;
}

.shop-now h1 {
  font-size: 28px;
  text-align: center;
}

.shop-now p {
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
}

.shop-now .btn {
  margin-top: 25px;
}

/* Products section */
.products .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  padding-bottom: 50px;
}

.product h2 {
  margin-top: 20px;
}

.product p {
  margin: 12px 0;
}

.product a {
  font-size: 15px;
  color: #0067b8;
  font-weight: 700;
  text-transform: uppercase;
}

.product a:hover i {
  transform: translateX(4px);
}

/* Xbox section */
.xbox .container {
  padding-top: 0px;
  padding-bottom: 0px;
}

.xbox .container div {
  height: 400px;
  background-image: url(../images/xbox.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 40px;
  padding-left: 50px;
}

.xbox p {
  margin-top: 15px;
  width: 40%;
}

.xbox .btn {
  margin-top: 25px;
}

/* Services */
.services .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  padding-bottom: 50px;
}

.service h2 {
  margin-top: 20px;
}

.service p {
  margin: 12px 0;
}

.service a {
  font-size: 15px;
  color: #0067b8;
  font-weight: 700;
  text-transform: uppercase;
}

.service a:hover i {
  transform: translateX(4px);
}

/* Carbon section */
.carbon .container {
  padding-top: 0px;
  padding-bottom: 5px;
}

.carbon .container div {
  height: 400px;
  background-image: url(../images/carbon.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1200px 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: var(--white);
  padding: 0px 50px;
}

.carbon p {
  margin-top: 15px;
  width: 50%;
}

.carbon .btn {
  margin-top: 25px;
  background-color: var(--white);
  color: var(--black);
  transition: background-color 250ms ease;
}

.carbon .btn:hover {
  opacity: 1;
  background-color: #eee;
}

/* Socials section */
.socials .container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.social-links a {
  margin-right: 12px;
}

.social-links img {
  width: 30px;
}

/* Footer section */
footer {
  padding: 30px;
  background-color: #eee;
}

footer a {
  font-size: 14px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
}

.footer-top h3 {
  margin-bottom: 15px;
}

.footer-top ul li {
  margin-bottom: 15px;
}

.footer-bottom {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.language {
  display: flex;
  align-items: center;
  gap: 12px;
}

.language i {
  font-size: 25px;
}

.links ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}
